* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.list-item {
  background-color: rgb(230, 225, 225);
}

.list-item:nth-child(even) {
  background-color: white;
}

p {
  padding: 20px;
}

.box-content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.box-item {
  height: 200px;
  width: 30%;
  background-color: rgb(255, 252, 92);
}

.box-item:nth-child(-n + 6) {
  margin-bottom: 40px;
}
.box-item:nth-child(3n + 1) {
  margin-right: 5%;
}

.box-item:nth-child(3n + 2) {
  margin-right: 5%;
}

.box-item:nth-child(4n + 1) {
  background-color: rgb(255, 174, 0);
}
