* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 20px;
  background-color: rgb(247, 19, 247);
  display: flex;
  flex-basis: 140px;
  flex-direction: row-reverse;
}

.header-box {
  width: 140px;
  height: 70px;
  background-color: lightgray;
  margin: 0 10px;
}

.header-box:last-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.main-left {
  width: 300px;
  background-color: rgb(173, 241, 173);
}

.main-right {
  max-width: 700px;
  background-color: rgb(6, 187, 6);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.main-box {
  height: 130px;
  flex-basis: 200px;
  background-color: yellow;
  margin: 10px;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: rgb(26, 147, 247);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box {
  width: 45%;
  max-width: 600px;
  height: 40px;
  background-color: lightgray;
  margin: 10px;
}
